<%- include ('templates/header'); -%>

<div class="container">
    <div id="query" class="jumbotron">
        <h1>Open Library</h1>
        <button class="btn btn-primary" onclick='location.href="/";'>Search Again</button>
    </div>
    <div id="result" class="flexbox">
        <div class="cover">
            <img src='<%=data.cover.large%>''>
        </div>
        <div class="info">
            <div class="infoRow">Title: <%=data.title%></div>
            <div class="infoRow">Author: <%=data.authors[0].name%></div>
            <div class="infoRow">Publish: <%=data.publish_date%></div>
            <div class="infoRow">Publisher: <%=data.publishers[0].name%></div>
            <div class="infoRow">ISBN: <%=data.identifiers.isbn_10[0]%></div>
            <div class="infoRow">Pages: <%=data.number_of_pages%></div>
        </div>
    </div>
</div>

<%- include ('templates/footer'); -%>
